@model Singlearn.Models.Entities.Material

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subject_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subject_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.class_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.class_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.chapter_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.chapter_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditMaterial" asp-controller="SubjectMaterialChapter" asp-route-id="@Model?.material_id">Edit</a> |
    <a asp-action="IndexMaterials" asp-controller="SubjectMaterialChapter">Back to List</a>
</div>
