@model Singlearn.Models.Entities.Material

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div style="padding: 15% 3% 3% 3%;">
                <h2>Material Details</h2>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        Subject Id
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.subject_id)
                    </dd>
                    <dt class="col-sm-4">
                        Teacher Id
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.teacher_id)
                    </dd>
                    <dt class="col-sm-4">
                        Class Id
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.class_id)
                    </dd>
                    <dt class="col-sm-4">
                        Material Name
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.name)
                    </dd>
                    <dt class="col-sm-4">
                        Description
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.description)
                    </dd>
                    <dt class="col-sm-4">
                        Chapter Id
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.chapter_id)
                    </dd>
                    <dt class="col-sm-4">
                        Type
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.type)
                    </dd>
                    <dt class="col-sm-4">
                        Link
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.link)
                    </dd>
                    <dt class="col-sm-4">
                        Status
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.status)
                    </dd>
                </dl>
                <div class="form-group mt-3 mb-3">
                    <a asp-action="Edit" asp-route-id="@Model?.material_id" class="btn btn-warning"><i class="fa fa-pencil"></i> Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>