@{
    Layout = "~/Views/Shared/_LayoutFixed2.cshtml";
    ViewData["StaffTitle"] = "Homework";
    int subjectId = ViewData["SubjectId"] != null ? (int)ViewData["SubjectId"] : 0;
   
}

@model IEnumerable<Singlearn.Models.Entities.Homework>




<!-- Content wrapper -->
<div style="padding-top: 110px;" class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">Homework</h4>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        <div class="d-flex justify-content-end">
            <div>
                <a class="btn btn-primary mb-3" asp-action="staff_homework_create" asp-route-subjectId="@subjectId">Create new homework</a>
            </div>
        </div>
        <!-- Basic Bootstrap Table -->
        <div class="card">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.title)</th>
                            <th>@Html.DisplayNameFor(model => model.description)</th>
                            <th>@Html.DisplayNameFor(model => model.startdate)</th>
                            <th>@Html.DisplayNameFor(model => model.enddate)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody class="table-border-bottom-0">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="staff_class" asp-route-homeworkId="@item.homework_id">@Html.DisplayFor(modelItem => item.title)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.startdate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.enddate)
                                </td>
                                <td class="d-flex justify-content-start">
                                    <a class="btn btn-warning" asp-action="staff_homework_edit" asp-route-homeworkid="@item.homework_id">Edit</a>
                                    <form method="post" asp-controller="HomeworkHub" asp-action="staff_homework_delete" asp-route-homeworkid="@item.homework_id" onsubmit="return confirm('Are you sure you want to delete this homework?');">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--/ Basic Bootstrap Table -->
    </div>
    <!-- / Content -->
