@{
    Layout = "~/Views/Shared/_LayoutFixed.cshtml";
    ViewData["StaffTitle"] = "Homepage";
}

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var studentId = HttpContextAccessor.HttpContext.Session.GetString("student_id");
    var role = HttpContextAccessor.HttpContext.Session.GetString("role");
}

@model IEnumerable<Singlearn.Models.Entities.Homework>



<!-- Content wrapper -->
<div style="padding-top: 110px;" class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y" style="width:200%">
        <h1 class="fw-bold py-3 mb-2">Dropbox</h1>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        <!-- Basic Bootstrap Table -->
        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        @* <th>@Html.DisplayNameFor(model => model.homework_id)</th> *@
                        <th>@Html.DisplayNameFor(model => model.title)</th>
                        <th>@Html.DisplayNameFor(model => model.description)</th>
                        <th>@Html.DisplayNameFor(model => model.startdate)</th>
                        <th>@Html.DisplayNameFor(model => model.enddate)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="student_upload" asp-route-homeworkId="@item.homework_id" asp-route-studentId="@studentId">@Html.DisplayFor(modelItem => item.title)</a>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.description)</td>
                            <td>@Html.DisplayFor(modelItem => item.startdate)</td>
                            <td>@Html.DisplayFor(modelItem => item.enddate)</td>
                            <td>
                                <a asp-action="student_review" asp-route-homeworkId="@item.homework_id" asp-route-studentId="@studentId">Review</a>
                            </td>
                            <td>
                                <a href="@Url.Action("DownloadHomework", "HomeworkHub", new {homeworkId = item.homework_id})" target="_blank">Download Attachment</a>
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
        <!--/ Basic Bootstrap Table -->
    </div>
</div>
<!-- / Content -->