@model Singlearn.Models.Entities.Announcement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subject_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subject_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.staff_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.staff_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.class_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.class_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.message_body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.message_body)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.announcement_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
