@using Singlearn.Models.Entities

@model List<Singlearn.ViewModels.ChapterViewModel>

@{
    ViewData["Title"] = @ViewData["SubjectName"];
}

<h1>Welcome, Student @ViewData["SubjectId"]</h1>
<h1>Welcome, Student @ViewData["ClassId"]</h1>

<h2>Chapters</h2>

<table class="table">
    <thead>
        <tr>
            <th>Chapter Name Id</th>
            <th>Name</th>
            <th>Chapter Id</th>
            <th>Subject Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chapter in Model)
        {
            <tr>
                <td>@chapter.chapter_name_id</td>
                <td>@chapter.name</td>
                <td>@chapter.chapter_id</td>
                <td>@chapter.subject_id</td>
            </tr>
        }
    </tbody>
</table>
