
@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    ViewData["StudentTitle"] = "Homepage";
}
@using Singlearn.Models.Entities  // Import the namespace where Subject model is defined

@model List<Singlearn.ViewModels.SubjectViewModel>

<div class="container-fluid" style="padding-top: 100px;">
    <div class="row">
        <!-- Bootstrap carousel -->
        <div class="col-md">
            <h1 class="fw-bold py-3 mb-2">News & Events</h1>

            <div id="carouselExample" class="padding-bottom-40 carousel carousel-dark slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExample" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner round-corner">
                    <div class="carousel-item active">
                        <div class="row mb-3">
                            <div class="col-md">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img class="card-img card-img-left carousel-img" src="https://img.freepik.com/free-vector/realistic-back-school-background-with-school-supplies_23-2149489926.jpg" alt="Card image" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold py-3 mb-2">Welcome back to school for Year 1 students</h5>
                                                <p class="card-text">
                                                    A new semester has begun! We hope that the holidays have been
                                                    good for you. In this new semester, Mr Goh will be in charge of
                                                    Student Welfare community so if you have any concerns, feel free
                                                    to talk to him. He is very approachable and can be found on Level
                                                    6 of the Student Campus Building.
                                                </p>
                                                <a href="javascript:void(0)" class="card-link">Find out more ></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row mb-3">
                            <div class="col-md">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img class="card-img card-img-left carousel-img" src="https://asiasociety.org/sites/default/files/styles/1200w/public/2023-11/DALL%C2%B7E%202023-11-09%2016.28.45%20-%20Lunar%20New%20Year%202024_v3.png" alt="Card image" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold py-3 mb-2">Welcome back to school for Year 1 students</h5>
                                                <p class="card-text">
                                                    A new semester has begun! We hope that the holidays have been
                                                    good for you. In this new semester, Mr Goh will be in charge of
                                                    Student Welfare community so if you have any concerns, feel free
                                                    to talk to him. He is very approachable and can be found on Level
                                                    6 of the Student Campus Building.
                                                </p>
                                                <a href="javascript:void(0)" class="card-link">Find out more ></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row mb-3">
                            <div class="col-md">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img class="card-img card-img-left carousel-img" src="https://static.vecteezy.com/system/resources/thumbnails/003/111/945/small/singapore-national-day-with-skyline-and-flag-background-free-vector.jpg" alt="Card image" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold py-3 mb-2">Welcome back to school for Year 1 students</h5>
                                                <p class="card-text">
                                                    A new semester has begun! We hope that the holidays have been
                                                    good for you. In this new semester, Mr Goh will be in charge of
                                                    Student Welfare community so if you have any concerns, feel free
                                                    to talk to him. He is very approachable and can be found on Level
                                                    6 of the Student Campus Building.
                                                </p>
                                                <a href="javascript:void(0)" class="card-link">Find out more ></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subject Display -->
    <div class="row">
        <h1 class="fw-bold py-3 mb-2">Subjects</h1>
        @if (Model != null && Model.Any())
        {
            <div class="row">
                @foreach (var subject in Model)
                {
                    <div class="col-md-6 col-lg-3 padding-bottom-20">
                        <a asp-controller="Student" asp-action="SubjectIndex" asp-route-subject_id="@subject.subject_id" asp-route-class_id="@subject.class_id" class="card-link">
                            <div class="card mb-2 card-hover-effect">
                                <img class="card-img-top card-img-custom" src="@subject.image" alt="Card image cap" />
                                <div class="card-body">
                                    <h5 class="card-title fw-bold py-3 mb-2">@subject.academic_level @subject.year @subject.name (@subject.class_id)</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No subjects found for this student.</p>
        }
    </div>
</div>

<style>
    .carousel-img {
        height: 300px;
        width: 100%;
        object-fit: fit;
    }

    .card-img-custom {
        height: 225px;
        width: 100%;
        object-fit: fit;
    }

    .round-corner {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .padding-top-10 {
        padding-top: 10px;
    }

    .padding-top-20 {
        padding-top: 20px;
    }

    .padding-top-40 {
        padding-top: 40px;
    }

    .padding-top-60 {
        padding-top: 60px;
    }

    .padding-bottom-10 {
        padding-bottom: 10px;
    }

    .padding-bottom-20 {
        padding-bottom: 20px;
    }

    .padding-bottom-40 {
        padding-bottom: 40px;
    }

    .padding-bottom-60 {
        padding-bottom: 60px;
    }

    .card-hover-effect {
        overflow: hidden;
        position: relative;
        border-radius: 0.5rem;
        transition: transform 0.25s ease-in-out;
    }

        .card-hover-effect:hover {
            transform: scale(1.05); /* Increase size on hover */
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Optional: Add shadow on hover */
        }
</style>