@using Singlearn.Models.Entities
@model IEnumerable<Singlearn.Models.Entities.Material>

@{
    ViewData["Title"] = "Index";
}

<h1>Subject ID @ViewData["SubjectId"]</h1>
<h1>Class ID @ViewData["ClassId"]</h1>
<div class="row">
    <h1 class="fw-bold py-3 mb-2">Materials</h1>
    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var material in Model)
            {
                <div class="col-md-6 col-lg-3 padding-bottom-20">
                    <div class="card mb-2 card-hover-effect">
                        <div class="card-body">
                            <h5 class="card-title fw-bold py-3 mb-2">@material.name @material.class_id @material.teacher_id</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No subjects found for this student.</p>
    }
</div>