@using Singlearn.Models.Entities
@model IEnumerable<Singlearn.Models.Entities.Material>
@{
    Layout = "~/Views/Shared/_LayoutFixed2.cshtml";
    ViewData["StudentTitle"] = "Homepage";
}

<style>
    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-body {
        flex: 1;
    }
</style>

<div class="container-fluid">
    <div class="col-lg-12">
        <div class="demo-inline-spacing mt-3">
            <div class="list-group list-group-horizontal-md text-md-center" ;">
                <a class="list-group-item list-group-item-action active"
                   id="home-list-item"
                   data-bs-toggle="list"
                   href="#vidlesson">Video Lessons</a>
                <a class="list-group-item list-group-item-action"
                   id="profile-list-item"
                   data-bs-toggle="list"
                   href="#lessnotes">Lesson Notes</a>
                <a class="list-group-item list-group-item-action"
                   id="messages-list-item"
                   data-bs-toggle="list"
                   href="#classwork">Classwork</a>
                <a class="list-group-item list-group-item-action"
                   id="settings-list-item"
                   data-bs-toggle="list"
                   href="#homework">Homework</a>
            </div>
            <br />
            @if (Model != null && Model.Any())
            {
                <div class="tab-content px-0 mt-0">
                    <div class="tab-pane fade show active" id="vidlesson">
                        <div class="row">
                            @foreach (var material in Model.Where(m => m.type == "Video Lessons" && m.status == "Visible"))
                            {
                                <div class="col-lg-6 padding-bottom-20">
                                    <a asp-controller="Staff" asp-action="GetMaterial" asp-route-subject_id="@material.subject_id" asp-route-chapter_id="@material.chapter_id" asp-route-class_id="@ViewData["ClassId"]" asp-route-material_id="@material.material_id" class="card-link no-underline">
                                        <div class="card mb-2 card-hover-effect">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold py-3 mb-2">@material.name</h5>
                                                <p class="card-text">@material.description</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="lessnotes">
                        <div class="row">
                            @foreach (var material in Model.Where(m => m.type == "Lesson Notes" && m.status == "Visible"))
                            {
                                <div class="col-lg-6 padding-bottom-20">
                                    <a asp-controller="Staff" asp-action="GetMaterial" asp-route-subject_id="@material.subject_id" asp-route-chapter_id="@material.chapter_id" asp-route-class_id="@ViewData["ClassId"]" asp-route-material_id="@material.material_id" class="card-link no-underline">
                                        <div class="card mb-2 card-hover-effect">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold py-3 mb-2">@material.name</h5>
                                                <p class="card-text">@material.description</p>
                                                <p class="card-text">@material.file_type</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="classwork">
                        <div class="row">
                            @foreach (var material in Model.Where(m => m.type == "Classwork" && m.status == "Visible"))
                            {
                                <div class="col-lg-6 padding-bottom-20">
                                    <a asp-controller="Staff" asp-action="GetMaterial" asp-route-subject_id="@material.subject_id" asp-route-chapter_id="@material.chapter_id" asp-route-class_id="@ViewData["ClassId"]" asp-route-material_id="@material.material_id" class="card-link no-underline">
                                        <div class="card mb-2 card-hover-effect">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold py-3 mb-2">@material.name</h5>
                                                <p class="card-text">@material.description</p>
                                                <p class="card-text">@material.file_type</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="homework">
                        <div class="row">
                            @foreach (var material in Model.Where(m => m.type == "Homework" && m.status == "Visible"))
                            {
                                <div class="col-lg-6 padding-bottom-20">
                                    <a asp-controller="Staff" asp-action="GetMaterial" asp-route-subject_id="@material.subject_id" asp-route-chapter_id="@material.chapter_id" asp-route-class_id="@ViewData["ClassId"]" asp-route-material_id="@material.material_id" class="card-link">
                                        <div class="card mb-2 card-hover-effect">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold py-3 mb-2">@material.name</h5>
                                                <p class="card-text">@material.description</p>
                                                <p class="card-text">@material.file_type</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <p style="margin:0 auto; text-align:center; padding-top:50px; padding-bottom:50px;">No subjects found for this student.</p>
            }
        </div>
    </div>
</div>

<style>
    .no-underline {
        text-decoration: none; /* Removes the underline */
    }

</style>
