@{
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    ViewData["Title"] = "Template Editor";
}

<!DOCTYPE html>
<html>
<head>
    <title>Template Editr</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .main-body {
            margin-left: 200px;
            margin-top: 120px;
        }

        .centered-form {
            max-width: 600px;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }
    </style>
</head>
<body>
    <div class="container main-body">
        <h1 class="text-center">Template Editor</h1>
        <div class="centered-form">
            <div class="form-group">
                <label for="subjectSelect">Select Subject:</label>
                <select id="subjectSelect" class="form-control">
                    @if (ViewBag.Subjects != null && ViewBag.Subjects.Count > 0)
                    {
                        @foreach (var subject in ViewBag.Subjects)
                        {
                            <option value="@subject.subject_id">@subject.name</option>
                        }
                    }
                    else
                    {
                        <option value="">No subjects available</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="classSelect">Select Class:</label>
                <select id="classSelect" class="form-control">
                    @if (ViewBag.Classes != null && ViewBag.Classes.Count > 0)
                    {
                        @foreach (var classitem in ViewBag.Classes)
                        {
                            <option value="@classitem.class_id">@classitem.name</option>
                        }
                    }
                    else
                    {
                        <option value="">No classes available</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="templateSelect">Select Template:</label>
                <select id="templateSelect" class="form-control">
                    <option value="">--Select a Template--</option>
                    @foreach (var template in ViewBag.Templates)
                    {
                        <option value="@template.template_id">@template.name</option>
                    }
                </select>
            </div>
            <button id="saveTemplate" class="btn btn-primary btn-block">Save Template</button>
            <div id="templatePreview" class="mt-4">
                <p class="text-center">Please select a template to preview.</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#templateSelect').change(function () {
                var templateId = $(this).val();
                var subjectId = $('#subjectSelect').val();
                var classId = $('#classSelect').val();
                if (templateId && subjectId && classId) {
                    $.get('/Staff/LoadTemplatePreview', { templateId: templateId, subjectId: subjectId, classId: classId }, function (data) {
                        $('#templatePreview').html(data);
                    }).fail(function () {
                        $('#templatePreview').html('<p class="text-center text-danger">Error loading template preview.</p>');
                    });
                } else {
                    $('#templatePreview').html('<p class="text-center">Please select a template, subject, and class to preview.</p>');
                }
            });

            $('#saveTemplate').click(function () {
                var subjectId = $('#subjectSelect').val();
                var classId = $('#classSelect').val();
                var templateId = $('#templateSelect').val();
                if (subjectId && classId && templateId) {
                    $.post('/Staff/SaveTemplateSelection', { subjectId: subjectId, classId: classId, templateId: templateId }, function () {
                        alert('Template saved successfully!');
                    }).fail(function () {
                        alert('Error saving template.');
                    });
                } else {
                    alert('Please select a subject, class, and a template.');
                }
            });
        });
    </script>
</body>
</html>
